.hero-container{
    height: 900px;
}

.about-container{
    height: 100%;
    background: #393737;
}

.about-photo{
    width: 55%;
    height: auto;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-text-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text-child{
    resize: vertical;
    overflow: auto;
    color: white;
  
}

.clearfix{
    overflow: auto;
}

.portfolio-title{
    text-align: center;
    margin: auto;
}